* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    
}

body {

    background-color: darkslategrey;
}


.header {
    background-color: black;
    width: 100vw;
    height: 6vh;
    padding: 3px;
    font-size: x-large;
}

.section {
    border: 3px solid black;
    justify-content: right;
    font-size: large;
   
}


.aside {
    background-color: white;
    width: 15%;
    height: 800px;
    float: left;
    
    
}

p {
    font-size: x-large;
    margin-top: 15px;
    margin-left: 10px;
    
}

.boxes{
  
   display: flex;
   flex-wrap: wrap;
   width: 85%;
   height: 800px;
   justify-content: space-between;
   padding: 20px;
   
   
}

div img {
    width: 100%;
    display: flex;
    
 }

 .title{

     display: flex;
     color: white;
     text-align: center;
     width: 150px;
     height: 30px;
     background-color: darkcyan;
     align-items: center;
     justify-content: center;
     
 }

 /* .column {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap; 
   justify-content: flex-start;
       
 } */