* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    
}

body {

    background-color: darkslategrey;
}


.header {
    background-color: black;
    width: 100vw;
    height: 6vh;
    padding: 3px;
    font-size: large;
}

.section {
    border: 3px solid black;
    justify-content: right;
    font-size: large;
   
}


.aside {
    background-color: white;
    width: 110px;
    height: 100vh;
    float: left;
    
    
}

p {
    font-size: x-large;
    margin-top: 15px;
    margin-left: 10px;
    
}

.boxes{
    background-color: yellow;
   display: flex;
   flex-wrap: wrap;
   /* width: 600px;
   height: 800px; */
   justify-content: space-between;
   padding: 20px;
   margin: 20px;
   /* flex-basis: 70%; */
   
   
}

div img {
    width: 100%;
    display: flex;
    
 }

 .title{

     display: flex;
     color: white;
     text-align: center;
     width: 100%;
     height: 30px;
     background-color: darkcyan;
     align-items: center;
     justify-content: center;
     
 }

 .column {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap; 
   justify-content: flex-start;
   flex-basis: 20%;
   margin: 20px;
   
 }